<!DOCTYPE html>
<html{{{ manifest }}}>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <link rel="stylesheet" href="./layout.css" type="text/css">
    {{{ extraHead.local }}}
    {{{ css.tag }}}
    <title>{{ title }}</title>
  </head>
  <body>
    <h4 id="title">{{ title }}</h4>
    {{{ contents }}}

    <p id="shortdesc">{{ shortdesc }}</p>
    <div id="docs">{{ md docs }}</div>
    {{{ js.tag }}}
  </body>
</html>
