
html,body {
    margin: 0;
    height: 100%;
}

#zoomedMap {
  position: absolute;
  top: 0;
  height: 30%;
  width: 100%;
  z-index: 2;
  pointer-events: none;
}

#crosshairHorizontal {
  width: 100%;
  height: 1px;
  position: absolute;
  z-index: 3;
  top: 50%;
  background-color: rgba(0,60,136,0.5);
}

#crosshairVertical {
  height: 100%;
  left: 50%;
  position: absolute;
  z-index: 3;
  width: 1px;
  background-color: rgba(0,60,136,0.5);
}


#map {
    position: absolute;
    top: 0%;
    bottom: 50px;
    width: 100%;
    z-index: 0;
}

#menuBottom{
    position: absolute;
    bottom: 0px;
    left: 0%;
    width: 100%;
    background-color: lightblue;
    cursor: pointer;
    height: 50px;
    z-index: 2;
    border-radius: 0px 0px 0px 0px;
    text-align: center;
    font-family: sans-serif;
    font-size: 200%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#chooseForm {
    position: relative;
    bottom: 0px;
    left: 0%;
    width: 100%;
    background-color: mediumturquoise;
    height: 100%;
    line-height: 110px;
    border-radius: 0px 0px 0px 0px;
    text-align: center;
    font-family: sans-serif;
    font-size: 100%;
}

#snappingDiv{
  position: absolute;
  bottom: 50px;
  left: 10px;
  min-width: 30px;
  height: 30px;
}

#selectingDiv{
  position: absolute;
  bottom: 80px;
  left: 10px;
  min-width: 30px;
  height: 30px;
  /*background-color: darkorange;
  color: white;*/
}

.customButton{
  width: auto !important;
  font-size: 1em !important;
  min-width: 50px;
  max-width: 500px;
  padding-left: 4px !important;
  padding-right: 4px !important;
}

.editAttributes {
  position: absolute;
  bottom: calc(10% + 50px);
  min-height: 100px;
  max-height: 60%;
  overflow: auto;
  width: 60%;
  left: 0%;
  background-color: #ffaf4e;
  border: solid;
  border-width: 10px 2px 10px 2px;
  border-radius: 6px;
  border-color: darkorange;
  z-index: 10;
  padding-bottom: 5%;
}

.attributeDiv{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5%;
  margin-top: 5%;
  width: 90%;
  min-height: 30px;
  font-family: sans-serif;
}

#chooseForm select {
    position: relative;
    bottom: 75%;
    width: 75%;
    height: 50%;
}

#addPolygonButton {
    position: relative;
    bottom: 100%;
    left: 25%;
    width: 50%;
    background-color: darkorange;
    cursor: pointer;
    height: 100%;
    line-height: 70px;
    border-radius: 20px 20px 0px 0px;
    text-align: center;
    font-family: sans-serif;
    font-size: 50%;
}

#menuImportExport {
  position: absolute;
  bottom: 0px;
  left: 0%;
  width: 100%;
  background-color: lightblue;
  cursor: pointer;
  min-height: 130px;
  z-index: 2;
  border-radius: 0px 0px 0px 0px;
  text-align: center;
  font-family: sans-serif;
  font-size: 200%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#importDiv, #exportDiv {
  height: 40px;
  text-align: left;
  font-size: medium;
  padding-left: 10px;
  padding-top: 10px;
}


#waitingDiv {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: black;
  opacity: 0.7;
  color: darkorange;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  font-size: 26px;
  padding: 20px;
  font-family: sans-serif;
}
