---
layout: example.html
title: Daten aus Höhenmodell
shortdesc: Arbeiten mit aus dem Höhenmodell abgeleiteten Layern.
tags: "tiles"
docs: >
  Bitte aus dem Layerswitcher die gewünschten Ansichten auswählen. In die Karte klicken, um die Höhe am geklickte Punkt zu erhalten.
---
<div class="map" id="map"></div>
<div>Höhe am zuletzt geklickten Punkt: <span id="elevation">N/A</span> m.</div>
