@import url(https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400italic,700);

body {
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 16px;
}

#title {
  margin-top: 0;
}

#docs {
  margin-top: 1em;
}

ul.inline,
ol.inline {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

ul.inline>li,
ol.inline>li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

.map {
  height: 400px;
  width: 100%;
  margin-bottom: 10px;
}
.ol-attribution.ol-logo-only,
.ol-attribution.ol-uncollapsible {
  max-width: calc(100% - 3em);
  height: 1.5em;
}
.ol-attribution ul {
  font-size: 1rem;
}
.ol-control button, .ol-attribution, .ol-scale-line-inner {
  font-family: 'Lucida Grande',Verdana,Geneva,Lucida,Arial,Helvetica,sans-serif;
}
